{% extends 'base.html.twig' %}

{% block header %}
<section class="module bg-dark-30 portfolio-page-header" data-background="{{ asset }}">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <h1 class="module-title font-alt">{{ municipio.nombre }}</h1>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ul class="filter font-alt" id="filters">
          <li><a class="current wow fadeInUp" href="#" data-filter="*">Todo</a></li>
          <li><a class="wow fadeInUp" href="#" data-filter=".historia" data-wow-delay="0.2s">Historia</a></li>
          <li><a class="wow fadeInUp" href="#" data-filter=".restaurante" data-wow-delay="0.2s">Comer y beber</a></li>
          <li><a class="wow fadeInUp" href="#" data-filter=".alojamiento" data-wow-delay="0.4s">Alojamiento</a></li>
          <li><a class="wow fadeInUp" href="#" data-filter=".tActivo" data-wow-delay="0.6s">Turismo Activo</a></li>
          <li><a class="wow fadeInUp" href="#" data-filter=".vGuiadas" data-wow-delay="0.6s">Visitas Guiadas</a></li>
        </ul>
      </div>
    </div>
    <div class="row works-grid-gut works-grid" id="works-grid">
      <div class="row">
        <div class="work-item historia">
          <p class="text-right">
            <span><strong>Altitud:</strong> {{ municipio.altitud }}m</span>&nbsp;
            <span><strong>Superficie:</strong> {{ municipio.superficie }}km2</span>&nbsp;
            <span><strong>Coordenadas:</strong> {{ municipio.latitud }}, {{ municipio.longitud }}º</span>
          </p>

          {% if municipio.nombre == 'Albanchez de Mágina' %}
              {% include 'pueblos/datos/albanchez.html.twig' %}
          {% elseif municipio.nombre == 'Bedmar y Garcíez' %}
              {% include 'pueblos/datos/bedmar.html.twig' %}
          {% elseif municipio.nombre == 'Bélmez de la Moraleda' %}
              {% include 'pueblos/datos/belmez.html.twig' %}
          {% elseif municipio.nombre == 'Jimena' %}
              {% include 'pueblos/datos/jimena.html.twig' %}
          {% elseif municipio.nombre == 'Jódar' %}
              {% include 'pueblos/datos/jodar.html.twig' %}
          {% elseif municipio.nombre == 'Pegalajar' %}
              {% include 'pueblos/datos/pegalajar.html.twig' %}
          {% elseif municipio.nombre == 'Torres' %}
              {% include 'pueblos/datos/torres.html.twig' %}
          {% elseif municipio.nombre == 'Huelma' %}
              {% include 'pueblos/datos/huelma.html.twig' %}
          {% elseif municipio.nombre == 'Cambil' %}
              {% include 'pueblos/datos/cambil.html.twig' %}
          {% else %}
              Error en el envio de datos desde el servidor.
          {% endif %}

        </div>
      </div>
      <div class="row">
        <div class="work-item restaurante">
          <h3 class="alt-features-title font-alt">Comer y beber</h3>
          <div>
            {% if restaurante is not empty %}
              {% for rest in restaurante %}
                <p>
                  <strong><span>{{rest.nombre}}</span></strong><br>
                  Dirección: <span>{{rest.direccion}}</span><br>
                  Tfno: <a href="tel:+34{{rest.telefono1}}">{{rest.telefono1}}</a>
                    {% if rest.telefono2 is not null %}
                      <a href="tel:+34{{rest.telefono2}}">/ {{rest.telefono2}}</a>
                    {% endif %}
                  <br>
                  {% if rest.paginaWeb is not null %}
                    Web: <a href="{{rest.paginaWeb}}" target="_blank">{{rest.paginaWeb}}</a>
                  {% endif %}
                </p>
              {% endfor %}
            {% else %}
              <p>No existen restaurantes en este municipio</p>
            {% endif %}

            {% if pub is not empty %}
              {% for p in pub %}
                <p>
                  <strong><span>{{p.nombre}}</span></strong><br>
                  Dirección: <span>{{p.direccion}}</span><br>
                  Tfno: <a href="tel:+34{{p.telefono1}}">{{p.telefono1}}</a>
                    {% if p.telefono2 is not null %}
                      <a href="tel:+34{{p.telefono2}}">/ {{p.telefono2}}</a>
                    {% endif %}
                  <br>
                  {% if p.paginaWeb is not null %}
                    Web: <a href="{{p.paginaWeb}}" target="_blank">{{p.paginaWeb}}</a>
                  {% endif %}
                </p>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="work-item alojamiento">
          <h3 class="alt-features-title font-alt">Alojamientos</h3>
          <div>
            {% if alojamiento is not empty %}
              {% for aloj in alojamiento %}
                <p>
                  <strong><span>{{aloj.nombre}}</span></strong><br>
                  Dirección: <span>{{aloj.direccion}}</span><br>
                  Tfno: <a href="tel:+34{{aloj.telefono1}}">{{aloj.telefono1}}</a>
                    {% if aloj.telefono2 is not null %}
                      <a href="tel:+34{{aloj.telefono2}}">/ {{aloj.telefono2}}</a>
                    {% endif %}
                  <br>
                  {% if aloj.paginaWeb is not null %}
                    Web: <a href="{{aloj.paginaWeb}}" target="_blank">{{aloj.paginaWeb}}</a>
                  {% endif %}
                </p>
              {% endfor %}
            {% else %}
              <p>No existen alojamientos en este municipio</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="work-item tActivo">
          <h3 class="alt-features-title font-alt">Turismo Activo</h3>
          <div>
            {% if ocio is not empty %}
              {% for oc in ocio %}
                <p>
                  <strong><span>{{oc.nombre}}</span></strong><br>
                  Descripción: <span>{{oc.descripcion}}</span><br>
                  Precio: <span>{{oc.precio}} €</span><br>

                  {% for e in empresas %}
                      {% if e.id == oc.empresa.id %}
                        Empresa: <span>{{e.nombre}}</span><br>
                        Tfno: <a href="tel:+34{{ e.telefono1 }}">{{ e.telefono1 }}</a>
                        {% if e.telefono2 is not null %}
                            <a href="tel:+34{{ e.telefono2 }}">/ {{ e.telefono2 }}</a>
                        {% endif %}
                        <br>
                        {% if e.paginaWeb is not null %}
                            Web: <a href="{{ e.paginaWeb }}" target="_blank">{{ e.paginaWeb }}</a>
                        {% endif %}
                      {% endif %}
                  {% endfor %}
                </p>
              {% endfor %}
            {% else %}
                  <p>No existen actividades en este municipio</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="work-item vGuiadas">
          <h3 class="alt-features-title font-alt">Visitas Guiadas</h3>
          <div>
            {% if visitaG is not empty %}
              {% for visit in visitaG %}
                <p>
                  <strong><span>{{visit.nombre}}</span></strong><br>
                  Descripción: <span>{{visit.descripcion}}</span><br>
                  Precio: <span>{{visit.precio}} €</span><br>

                  {% for e in empresas %}
                      {% if e.id == visit.empresa.id %}
                        Empresa: <span>{{e.nombre}}</span><br>
                        Tfno: <a href="tel:+34{{ e.telefono1 }}">{{ e.telefono1 }}</a>
                        {% if e.telefono2 is not null %}
                            <a href="tel:+34{{ e.telefono2 }}">/ {{ e.telefono2 }}</a>
                        {% endif %}
                        <br>
                        {% if e.paginaWeb is not null %}
                            Web: <a href="{{ e.paginaWeb }}" target="_blank">{{ e.paginaWeb }}</a>
                        {% endif %}
                      {% endif %}
                  {% endfor %}
                </p>
              {% endfor %}
            {% else %}
                  <p>No existen visitas en este municipio</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="divider-w mt-60 mb-60">
<section class="module sliding-portfolio">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="module-title">Galería de imágenes</h2>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row multi-columns-row">
      <div class="owl-carousel" data-items="3" data-pagination="false" data-navigation="false">
        <div class="owl-item">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="gallery-item">
                <div class="gallery-image">
                  <a href="{{ galeria.imagen1 }}" title="{{ galeria.titulo1 }}">
                    <img src="{{ galeria.imagen1 }}" alt="{{ galeria.titulo1 }}"/>
                    <div class="gallery-caption">
                      <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="gallery-item">
                <div class="gallery-image">
                  <a href="{{ galeria.imagen2 }}" title="{{ galeria.titulo2 }}">
                    <img src="{{ galeria.imagen2 }}" alt="{{ galeria.titulo2 }}"/>
                    <div class="gallery-caption">
                      <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="gallery-item">
                <div class="gallery-image">
                  <a href="{{ galeria.imagen3 }}" title="{{ galeria.titulo3 }}">
                    <img src="{{ galeria.imagen3 }}" alt="{{ galeria.titulo3 }}"/>
                    <div class="gallery-caption">
                      <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="gallery-item">
                <div class="gallery-image">
                  <a href="{{ galeria.imagen4 }}" title="{{ galeria.titulo4 }}">
                    <img  src="{{ galeria.imagen4 }}" alt="{{ galeria.titulo4 }}"/>
                    <div class="gallery-caption">
                      <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="gallery-item">
                <div class="gallery-image">
                  <a href="{{ galeria.imagen5 }}" title="{{ galeria.titulo5 }}">
                    <img src="{{ galeria.imagen5 }}" alt="{{ galeria.titulo5 }}"/>
                    <div class="gallery-caption">
                      <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="owl-item">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="gallery-item">
                <div class="gallery-image">
                  <a href="{{ galeria.imagen6 }}" title="{{ galeria.titulo6 }}">
                    <img src="{{ galeria.imagen6 }}" alt="{{ galeria.titulo6 }}"/>
                    <div class="gallery-caption">
                      <div class="gallery-icon"><span class="icon-magnifying-glass"></span></div>
                    </div>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}