{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.8/semantic.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.semanticui.min.css">

{% endblock %}

{% block header %}
<section class="module bg-dark-30 about-page-header" data-background="assets/images/perfil/portada.webp">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="module-title mb-0">{{ nombre }}</h2>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="module">
    <div class="container" style="width: 80%;">

        {% if errorEmail is defined %}
            {% for flash in app.flashes('error') %}
                <div class="alert alert-danger">{{ flash }}</div>
            {% endfor %}
        {% else %}
            {% for flash in app.flashes('success') %}
                <div class="alert alert-success">{{ flash }}</div>
            {% endfor %}

            <div class="row">
                <div class="table-responsive">
                    <table class="display ui celled table" id="tableUsuario">
                        <thead>
                            <tr>
                                {# <th>Id</th> #}
                                <th>Título</th>
                                <th>Descripción</th>
                                <th>Dificultad</th>
                                <th>Longitud</th>
                                <th>Tiempo</th>
                                <th>Mapa</th>
                                <th>Desnivel</th>
                                <th>Imagen</th>
                                <th>Municipio</th>
                                <th>Tipo ruta</th>
                                <th>Fecha publicación</th>
                                <th>Punto interés</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script src="js/datatable.js"></script>
{% endblock %}
