{% extends 'base.html.twig' %}

{% block header %}
<section class="module bg-dark-30 about-page-header" data-background="assets/images/perfil/portada.webp">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="module-title mb-0">{{ nombre }}</h2>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="module">
    <div class="container">

        {% if errorEmail is defined %}
            {% for flash in app.flashes('error') %}
                <div class="alert alert-danger">{{ flash }}</div>
            {% endfor %}
        {% else %}
            {% for flash in app.flashes('success') %}
                <div class="alert alert-success">{{ flash }}</div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div role="tabpanel">
                    <ul class="nav nav-tabs font-alt" role="tablist">
                        <li class="active"><a href="#ruta" data-toggle="tab"><span class="icon-tools-2"></span> Ruta</a></li>
                        <li><a href="#puntoI" data-toggle="tab"><span class="icon-tools-2"></span> Punto Interes</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="ruta">
                            <h4 class="font-alt mb-0 text-center">Rellena el formulario para publicar una <strong>nueva ruta</strong></h4>
                            <hr class="divider-w mt-10 mb-20">

                            {{ form_start(form, {'attr': {'role':'form'}}) }}
                                <div class="form-group">
                                    {{ form_widget(form.titulo, {'attr': {'class':'form-control', 'placeholder':'Título'} }) }}
                                    <span class="text-danger">{{ form_errors(form.titulo) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.descripcion, {'attr': {'class':'form-control', 'placeholder':'Escribe aquí una descripción de la ruta', 'rows': '7'} }) }}
                                    <span class="text-danger">{{ form_errors(form.descripcion) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.tipoRuta, {'attr': {'class':'form-control', 'placeholder':'Tipo de ruta'} }) }}
                                    <span class="text-danger">{{ form_errors(form.tipoRuta) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.municipio, {'attr': {'class':'form-control', 'placeholder':'Municipio'} }) }}
                                    <span class="text-danger">{{ form_errors(form.municipio) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.mapa, {'attr': {'class':'form-control', 'placeholder':'Mapa'} }) }}
                                    <span class="text-danger">{{ form_errors(form.mapa) }}</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    {{ form_widget(form.dificultad, {'attr': {'class':'form-control', 'placeholder':'Dificultad'} }) }}
                                    <span class="text-danger">{{ form_errors(form.dificultad) }}</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    {{ form_widget(form.longitud, {'attr': {'class':'form-control', 'placeholder':'Longitud'} }) }}
                                    <span class="text-danger">{{ form_errors(form.longitud) }}</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    {{ form_widget(form.tiempo, {'attr': {'class':'form-control', 'placeholder':'Tiempo'} }) }}
                                    <span class="text-danger">{{ form_errors(form.tiempo) }}</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    {{ form_widget(form.desnivel, {'attr': {'class':'form-control', 'placeholder':'Desnivel'} }) }}
                                    <span class="text-danger">{{ form_errors(form.desnivel) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form.image, {'attr': {'class':'form-control input-lg'} }) }}
                                    <span class="text-danger">{{ form_errors(form.image) }}</span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-round btn-b">Guardar</button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                        <div class="tab-pane" id="puntoI">
                            <h4 class="font-alt mb-0 text-center">Rellena el formulario para añadir un <strong>nuevo punto de interes</strong></h4>
                            <hr class="divider-w mt-10 mb-20">

                            {{ form_start(form2, {'attr': {'role':'form'}}) }}
                                <div class="form-group">
                                    {{ form_widget(form2.titulo, {'attr': {'class':'form-control', 'placeholder':'Título'} }) }}
                                    <span class="text-danger">{{ form_errors(form2.titulo) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form2.descripcion, {'attr': {'class':'form-control', 'placeholder':'Escribe aquí una pequeña descripción del lugar', 'rows': '5'} }) }}
                                    <span class="text-danger">{{ form_errors(form2.descripcion) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form2.ruta, {'attr': {'class':'form-control', 'placeholder':'Nombre de la Ruta'} }) }}
                                    <span class="text-danger">{{ form_errors(form2.ruta) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form2.coordenadas, {'attr': {'class':'form-control', 'placeholder':'Coordenadas'} }) }}
                                    <span class="text-danger">{{ form_errors(form2.coordenadas) }}</span>
                                </div>
                                <div class="form-group">
                                    {{ form_widget(form2.foto, {'attr': {'class':'form-control input-lg'} }) }}
                                    <span class="text-danger">{{ form_errors(form2.foto) }}</span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block btn-round btn-b">Guardar</button>
                                </div>
                            {{ form_end(form2) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
